<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>float.html</title>
  <style>
    img {
      width: 150px;
      height: 150px;
      
      float: left;
    }

    .left {
      float: left;
      width: 100px;
      height: 100px;
      background-color: aliceblue;
    }

    .right {
      float: right;
      background-color: orange;
    }

    .clear {
      clear: both;
    }
  </style>
</head>
<body>
  <img src="../../images/dog01.jpg" alt="강아지" />
  <p>강아지가 해맑게 웃고 있는 사진이다.</p>

  <hr />
  <div class="left">왼쪽에 뜨는 요소</div>
  <div class="right">오른쪽에 뜨는 요소</div>
  <div class="clear">Float 해제</div>
</body>
</html>